@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<DolphinFx.Models.Team>

@{
    ViewData["Title"] = "Index";
}

<style>
    /* Pagination styles */
    .pg {
        margin-top: 40px;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pagination li {
        list-style: none;
        margin: 0 5px;
    }

    .pagination li a {
        text-decoration: none;
        padding: 1px 7px;
        font-size: 14px;
        border: 1px solid #007bff;
        border-radius: 4px;
        color: #007bff;
        background-color: white;
        line-height: 1.5;
        display: inline-block;
        transition: background-color 0.3s, color 0.3s;
    }

    .pagination li a:hover {
        background-color: #007bff;
        color: white;
    }

    .pagination li.active a {
        background-color: #007bff;
        color: white;
    }

    .table {
        text-align: center;
        margin: 0 auto;
    }

    .button-container {
        text-align: right;
    }

    .table th,
    .table td {
        padding: 10px;
    }

    .action-buttons a {
        margin: 0 4px;
        padding: 4px 8px;
        text-decoration: none;
        color: #fff;
    }

    .action-buttons .btn-primary {
        font-size: 0.875rem;
    }

    .team-row {
        cursor: pointer;
    }
</style>

<h1>Teams</h1>
<div class="search-button-container">
    <div class="search-container">
        <input type="text" id="searchInput" class="form-control" placeholder="Search teams..." />
    </div>
    <p class="button-container">
        <a class="btn btn-primary" asp-action="Create">Create New</a>
        <a class="btn btn-success" asp-action="ExportToExcel">Export to Excel</a>
    </p>
</div>

<div id="teamTablePlaceholder">
    @await Html.PartialAsync("_TeamTablePartial", Model) <!-- Initial data load -->
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            @if (TempData["InfoMessage"] != null)
            {
                <text>
                            $('#infoModal').modal('show');
                </text>
            }
        // Check for success message
                var successMessage = '@TempData["SuccessMessage"]';
            if (successMessage) {
                $("#successModal").modal("show");
            }

            // Real-time filtering of table rows
            $('#searchInput').on('input', function () {
                let searchTerm = $(this).val();
                $.ajax({
                    url: '@Url.Action("Index", "Teams")',
                    data: { searchTerm: searchTerm },
                    success: function (data) {
                        $('#teamTablePlaceholder').html(data);
                    }
                });
            });
            $('.team-row').on('dblclick', function () {
                var id = $(this).data('id');
                loadTeamDetails(id);
            });
        });
        function loadTeamDetails(id) {
            $.ajax({
                url: '@Url.Action("Details", "Teams")/' + id,
                type: 'GET',
                success: function (result) {
                    $('#teamDetailsBody').html(result);
                    
                    $('#teamDetailsModal').modal('show');
                },
                error: function (xhr, status, error) {
                    alert("An error occurred while loading the details: " + error);
                    console.error("Error details:", xhr, status, error);
                }
            });
        }
    </script>
}
